.footer-container
  display: block
  width: max-content
  text-transform: uppercase
  margin: 30px auto
  font-size: 0.66em
  line-height: 1.66em
  text-align: center
  color: rgba(255,255,255,0.33)
  span
    color: rgba(255,255,255,0.66)
  .icons
    width: 66%
    margin: 7px auto 0 auto
    display: flex
    a
      display: block
      flex-grow: 1
      &:hover
        svg
          fill: rgba(255,255,255)
      svg
        fill: rgba(255,255,255,0.33)
        transition: fill 250ms ease-out
        display: block
        margin: auto
